/*********************************** TAGS ***************************/
body{
    font-family: "Open Sans";
}

h1, h2, h3, h4 {
  font-family: sans-serif !important;
}

strong, b {
  font-weight: bold;
}

p, li {
  color: #222;
  font-family: "Open Sans";
  font-weight: 100;
  font-size: 17px;
  line-height: 31px;
}

.shadow-bottom {
    box-shadow: 0px 5px 5px -5px rgb(136, 136, 136);
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.shadow:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.ql-editor {
    min-height: 300px;
}

.featured-image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}


/*********************************** BLOG BODY ***************************/
.blog-body img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.blog-body .ql-syntax {
    background-color: #343a40;
    color: white;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    font-size: small;
}


/****************************** HOMEPAGE HEADING ********************************/
.heading-container {
    position: relative;
}

.heading-text {
    color: white;
    position: absolute;
    top: 35%;
    padding: 10px 20px;
    width: 100%;
}

.heading-text h1 {
    font-size: 3rem;
}

.container{max-width: 100% !important;}

.privacy-policy-page{
    margin: 0 auto;
}

/*********************************** LARGEST SCREENS ***************************/
@media (min-width: 992px) {
    .container {
        max-width: 100% !important;
    }

    .privacy-policy-page{
        max-width: 68% !important;
    }
}


/*********************************** LARGE SCREENS ***************************/
@media (max-width: 992px) {
    .container {
        max-width: 992px !important;
    }

    .privacy-policy-page{
        max-width: 70% !important;
    }
}


/*********************************** MEDIUM SCREENS ***************************/
@media only screen and (max-width: 768px) {
    .container {
        max-width: 768px !important;
        padding: 0;
    }

    .container-image {
        display: none;
    }

    .heading-text {
        top: 20%;
        padding: 10px 20px;
    }

    /**************** ADMIN HOME ****************/
    .container-admin{ padding: 0;}
    .container-admin .left, .right{padding: 0 15px !important;}

    .container-cat{
        padding: 0 !important;
    }

    .privacy-policy-page{
        max-width: 80% !important;
    }
}


/*********************************** SMALL SCREENS ***************************/
@media (max-width: 576px) {
    .container {
        max-width: 567px !important;
        padding: 0;
    }

    .container-blog-component{
        padding: 0 !important;
    }

    /**************** HOME ****************/
    .heading-container img{
        height: 90vh;
    }
    .heading-text {
        top: 10%;
        padding: 10px 20px;
    }
    .heading-text h1 {
        font-size: 1.5rem;
    }

    .privacy-policy-page{
        max-width: 94% !important;
    }
}