/*********************************** TAGS ***************************/
body {
    font-family: "Open Sans";
}

h1,
h2,
h3,
h4 {
    font-family: sans-serif !important;
}

strong,
b {
    font-weight: bold;
}

p,
li {
    color: #222;
    font-family: "Open Sans";
    font-weight: 100;
    font-size: 17px;
    line-height: 31px;
}

.shadow-bottom {
    box-shadow: 0px 5px 5px -5px rgb(136, 136, 136);
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.shadow:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.ql-editor {
    min-height: 300px;
}

.container {
    max-width: 100% !important;
}

.privacy-policy-page {
    margin: 0 auto;
}


/*************** LARGEST SCREENS ***************/
@media (min-width: 992px) {
    .container {
        max-width: 100% !important;
    }

    .privacy-policy-page {
        max-width: 68% !important;
    }
}


/************ LARGE SCREENS ******************/
@media (max-width: 992px) {
    .container {
        max-width: 992px !important;
    }

    .privacy-policy-page {
        max-width: 70% !important;
    }
}


/************* MEDIUM SCREENS ****************/
@media only screen and (max-width: 768px) {

    h1{font-size: 2rem !important;}
    h2{font-size: 1.8rem !important;}
    h3{font-size: 1.6rem !important;}
    h4{font-size: 1.4rem !important;}

    .container {
        max-width: 768px !important;
        padding: 0;
    }

    .heading-text {
        top: 20%;
        padding: 10px 20px;
    }

    /*********** ADMIN HOME *************/
    .container-admin {
        padding: 0;
    }

    .container-admin .left,
    .right {
        padding: 0 15px !important;
    }

    .container-cat {
        padding: 0 !important;
    }

    .privacy-policy-page {
        max-width: 80% !important;
    }
}


/*************** SMALL SCREENS *****************/
@media only screen and (max-width: 576px) {
    .container {
        max-width: 567px !important;
        padding: 0;
    }

    .container-blog-component {
        padding: 0 !important;
    }

    .privacy-policy-page {
        max-width: 94% !important;
    }
}