.container-image {
    border: 0.03rem solid rgb(241, 241, 241);
}

.container-excerpt {
    display: none;
}

.container-author-img{
    width: 60px;
}

.container-author-img img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #eee;
}

@media only screen and (max-width: 576px) {
    .container-image {
        padding: 0 !important;
        margin: 0 !important;
    }

    .container-author-img img{
        width: 50px;
        height: 50px;
    }
    
}

@media only screen and (min-width: 576px) {
    .container-card .row {
        padding-left: 10px !important;
    }
}