footer{
    /* position: absolute;
    bottom: 0; */
}

.footer-one{
    background-color: #29a48b;
    color: white;
    padding: 0 5%;
    border-bottom: 0.01rem solid rgb(158, 157, 157);
}

.footer-contact-container{
    padding: 15px 0;
}

.footer-contact-container a {
    color: white !important;
}

.footer-contact-container .item {
    padding: 7px 0;
}



.footer-contact-container p{
    margin: 0;
}

.footer-icon{
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.footer-links{
    padding: 15px 0;
    margin: 0;
    list-style-type: none;
}

.footer-links li{
    padding: 0 15px;
}

.footer-links li a{
    color: white;
}


.footer-two{
    background-color: #29a48b;
    padding: 10px 5%;
    font-size: 0.9rem;
}

.footer-two p{
    color: white;
    font-size: 0.9rem;
    padding: 0 15px;
}

.footer-one a{ font-size: 0.9rem !important;}

.footer-two a{ font-size: 0.9rem !important;}

footer a:hover{
    color: rgb(196, 190, 190);
}

